---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContextSection from '../components/sections/ContextSection.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import HowICanHelpSection from '../components/sections/HowICanHelpSection.astro';
import ApproachSection from '../components/sections/ApproachSection.astro';
---

<BaseLayout>
  <main id="main">
    <HeroSection />
    <ContextSection />
    <HowICanHelpSection />
    <ApproachSection />
  </main>
</BaseLayout>
