---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
---

<BaseLayout>
  <main id="main">
    <HeroSection />
  </main>
</BaseLayout>
